<div class="budget-excel-container">
  <table class="budget-table" #budgetTable>
    <thead>
      <tr>
        <th>Category</th>
        <th *ngFor="let month of months">{{ month }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th [attr.colspan]="months.length + 1">General Income</th>
      </tr>
      <tr>
        <td>Sales</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].income.generalIncome.sales"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 0, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Commission</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].income.generalIncome.commission"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 1, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td *ngFor="let month of months" class="subtotal">
          {{ budgetData[month].income.generalIncome.subTotal | number : "1.2-2" }}
        </td>
      </tr>

      <tr>
        <th [attr.colspan]="months.length + 1">Other Income</th>
      </tr>
      <tr>
        <td>Training</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].income.otherIncome.training"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 2, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Consulting</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].income.otherIncome.consulting"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 3, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td *ngFor="let month of months" class="subtotal">
          {{ budgetData[month].income.otherIncome.subTotal | number : "1.2-2" }}
        </td>
      </tr>

      <tr>
        <th [attr.colspan]="months.length + 1">Operational Expenses</th>
      </tr>
      <tr>
        <td>Management Fees</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].expenses.operationalExpenses.managementFees"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 4, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Cloud Hosting</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].expenses.operationalExpenses.cloudHosting"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 5, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td *ngFor="let month of months" class="subtotal">
          {{
            budgetData[month].expenses.operationalExpenses.subTotal | number : "1.2-2"
          }}
        </td>
      </tr>

      <tr>
        <th [attr.colspan]="months.length + 1">Salaries & Wages</th>
      </tr>
      <tr>
        <td>Full-time Dev</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].expenses.salariesAndWages.fullTimeDevSalaries"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 6, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Part-time Dev</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].expenses.salariesAndWages.partTimeDevSalaries"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 7, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Remote</td>
        <td *ngFor="let month of months; let colIndex = index">
          <input
            [(ngModel)]="budgetData[month].expenses.salariesAndWages.remoteSalaries"
            (change)="calculateTotals(month)"
            (focus)="onInputFocus($event, 8, colIndex)"
          />
        </td>
      </tr>
      <tr>
        <td>Subtotal</td>
        <td *ngFor="let month of months" class="subtotal">
          {{ budgetData[month].expenses.salariesAndWages.subTotal | number : "1.2-2" }}
        </td>
      </tr>

      <tr>
        <td>Total Expenses</td>
        <td *ngFor="let month of months" class="total">
          {{ budgetData[month].totalExpenses | number : "1.2-2" }}
        </td>
      </tr>
      <tr>
        <td>Profit/Loss</td>
        <td
          *ngFor="let month of months"
          [ngClass]="{
            profit: budgetData[month].profitLoss > 0,
            loss: budgetData[month].profitLoss < 0
          }"
        >
          {{ budgetData[month].profitLoss | number : "1.2-2" }}
        </td>
      </tr>
      <tr>
        <td>Opening Balance</td>
        <td *ngFor="let month of months">
          {{ budgetData[month].openingBalance | number : "1.2-2" }}
        </td>
      </tr>
      <tr>
        <td>Closing Balance</td>
        <td *ngFor="let month of months" class="closing-balance">
          {{ budgetData[month].closingBalance | number : "1.2-2" }}
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="context-menu"
    *ngIf="contextMenuVisible"
    [style.left.px]="contextMenuX"
    [style.top.px]="contextMenuY"
  >
    <div class="context-menu-item" (click)="applyToAllCells()">
      Apply to all
    </div>
  </div>
</div>
